@use "@/style/vars.scss";
.auth-inner {
  padding: 27px 26px 0;
  width: 100%;
  align-self: start;
  .auth-back {
    background-image: url("/img/icons/back.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-bottom: 46px;
  }
  .auth-title {
    font-size: 20px;
    color: #181d2d;
    margin-bottom: 24px;
  }
  .auth-subtitle {
    font-weight: 400;
    margin-bottom: 46px;
    color: vars.$shadowColor;
  }
  .auth-form {
    display: flex;

    flex-direction: column;
    gap: 36px;
    .input-str {
      display: flex;
      align-items: center;
      border-bottom: 1px solid vars.$borderColor;
      input {
        border: none;
        outline: none;
        padding-left: 19px;
        flex: 1 1 auto;
        min-width: 0;
      }
      input::placeholder {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        color: vars.$borderColor;
      }
      .input-wrapper-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-right: 1px solid vars.$borderColor;
        flex-shrink: 0;
        .input-icon {
          background-repeat: no-repeat;
          background-size: contain;
          width: 18px;
          height: 18px;
        }
        .email-icon {
          background-image: url("/img/icons/message.svg");
        }
        .password-icon {
          background-image: url("/img/icons/lock.svg");
        }
      }

      .password-show {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 17px;
        margin-right: 20px;
      }

      .show-false {
        background-image: url("/img/icons/eye_visible.svg");
        width: 22px;
      }
      .show-true {
        background-image: url("/img/icons/eye_hidden.svg");
        width: 21px;
      }
    }

    input[type="submit"] {
      background-image: url("/img/icons/forward.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: vars.$accentColor;
      cursor: pointer;
      margin-top: 150px;
      align-self: flex-end;
      outline: none;
      border: none;
    }
  }
  .errorField {
    color: vars.$errorColor;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 5px;
    &-right {
      text-align: right;
    }
  }
  .auth-link {
    padding-top: 100px;
    color: vars.$shadowColor;
    font-weight: 400;
    a {
      text-decoration: none;
      color: vars.$accentColor;
      font-weight: 500;
    }
  }
}
