@use "@/style/vars.scss";
.auth-inner {
  padding: 57px 40px 0;
  width: 100%;
  align-self: start;
   .auth-back {
    background-image: url("../img/icons/back.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-bottom: 46px;
  }
  .auth-title {
    font-size: 22px;
    color: #181d2d;
    margin-bottom: 24px;
  }
  .auth-subtitle {
    font-weight: 400;
    margin-bottom: 46px;
    color: vars.$shadowColor;
  }
  .auth-form {
    display: flex;

    flex-direction: column;
    gap: 36px;
    .input-str {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #c1c7d0;
      input {
        border: none;
        outline: none;
        padding-left: 19px;
        flex: 1 1 auto;
        min-width: 0;
      }
      input::placeholder {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        color: #c1c7d0;
      }
      .email-icon {
        background-image: url("../../img/form/message.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        flex-shrink: 0;
        border-right: 1px solid #c1c7d0;
      }
      .password-icon {
        background-image: url("../../img/form/lock.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        display: block;
        flex-shrink: 0;
        border-right: 1px solid #c1c7d0;
      }
      .password-show {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 17px;
        margin-right: 20px;
      }

      .show-false {
        background-image: url("/img/icons/eye_visible.svg");
        width: 22px;
      }
      .show-true {
        background-image: url("/img/icons/eye_hidden.svg");
        width: 21px;
      }
    }

    input[type="submit"] {
      background-image: url("../img/icons/forward.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: vars.$accentColor;
      cursor: pointer;
      margin-top: 179px;
      align-self: flex-end;
      outline: none;
      border: none;
    }
  }
  .errorField {
    color: vars.$errorColor;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 5px;
    text-align: right;
  }
  .auth-link {
    padding-top: 129px;
    color: vars.$shadowColor;
    font-weight: 400;
    a {
      text-decoration: none;
      color: vars.$accentColor;
      font-weight: 500;
    }
  }
}
