@use "@/style/vars.scss";

.main-wrapper {
  background-color: vars.$accentColor;
  border-radius: 25px 25px 0 0;
  padding: 0 25px 10px;
  flex: 1 1 auto;
  .main-title {
    color: #fff;
    padding: 16px 0 24px;
    font-size: 16px;
  }
  .main-carts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    .main-error {
      color: #fff;
    }
  }
}
