@use "@/style/vars.scss";
.profile-inner {
  padding: 27px 26px 0;
  flex: 1 1 auto;
  .profile-top {
    margin-bottom: 30px;
    display: flex;
    gap: 130px;

    .profile-back {
      background-image: url("/img/icons/back.png");
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
    }
    .profile-title {
      font-size: 20px;
      color: #001833;
    }
  }
  .profile-wrapper {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 70px;
    .profile-item {
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 30px;

      .profile-img {
        border-radius: 50%;
        background-color: vars.$bgColor;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        .profile-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
        .icon-name {
          background-image: url("/img/icons/profile.svg");
        }
        .icon-password {
          background-image: url("/img/icons/lock.svg");
        }
        .icon-email {
          background-image: url("/img/icons/message.svg");
        }
        .icon-phone {
          background-image: url("/img/icons/phone.svg");
        }
      }
      .profile-field {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .profile-field.edit-field {
        position: relative;
        border-bottom: 1px solid vars.$borderColor;
      }
      .profile-text-group {
        width: 100%;
      }
      .profile-subtitle {
        font-size: 12px;
        opacity: 22%;
      }
      .profile-text {
        font-weight: 600;
      }
      input.profile-text {
        border: none;
        outline: none;
      }
      .password-show {
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 17px;
        margin-right: 10px;
        background-color: transparent;
        border: none;
      }

      .show-false {
        background-image: url("/img/icons/eye_visible.svg");
        width: 22px;
      }
      .show-true {
        background-image: url("/img/icons/eye_hidden.svg");
        width: 21px;
      }

      .profile-edit-text {
        width: 100%;
        border: none;
        padding: 10px;
        margin-right: 10px;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
      }
      .profile-edit-icon {
        background-image: url("/img/icons/edit.svg");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        align-self: center;
        margin-left: auto;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
      .profile-save {
        background-image: url("/img/icons/save.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        align-self: center;
        margin-left: auto;
        margin-right: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
    .error-field {
      position: absolute;
      bottom: 0;
      color: vars.$errorColor;
      padding-left: 70px;
    }
  }
  .profile-bottom {
    display: flex;
    justify-content: center;

    .profile-button {
      background-color: vars.$accentColor;
      color: #fff;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      border-radius: 30px;
      height: 46px;
      width: 165px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
    }
  }
}
