@use "@/style/vars.scss";
.reg-inner {
  padding: 20px 40px 0;
  width: 100%;
  align-self: start;
  .reg-back {
    background-image: url("/img/icons/back.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-bottom: 46px;
  }
  .reg-success {
    margin: 200px 0;
    text-align: center;
    color: vars.$shadowColor;
    a {
      text-decoration: none;
      color: vars.$accentColor;
    }
  }
  .reg-container {
    .reg-title {
      font-size: 22px;
      color: #181d2d;
      margin-bottom: 24px;
    }
    .reg-subtitle {
      font-weight: 400;
      margin-bottom: 46px;
      color: vars.$shadowColor;
    }
    .reg-form {
      display: flex;
      flex-direction: column;
      gap: 36px;

      .input-str {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c1c7d0;
        input {
          border: none;
          outline: none;
          padding-left: 19px;
          flex: 1 1 auto;
          min-width: 0;
        }
        input::placeholder {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          color: #c1c7d0;
        }
        .input-icon {
          background-position: center;
          background-repeat: no-repeat;
          width: 36px;
          height: 36px;
          display: block;
          flex-shrink: 0;
          border-right: 1px solid #c1c7d0;
        }
        .user-icon {
          background-image: url("/img/form/profile.png");
        }
        .mobile-icon {
          background-image: url("/img/form/phone.png");
        }
        .email-icon {
          background-image: url("/img/form/message.png");
        }
        .password-icon {
          background-image: url("/img/form/lock.png");
        }
        .password-show {
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 17px;
          margin-right: 20px;
        }

        .show-false {
          background-image: url("/img/icons/eye_visible.svg");
          width: 22px;
        }
        .show-true {
          background-image: url("/img/icons/eye_hidden.svg");
          width: 21px;
        }
      }
      .reg-agree {
        font-size: 12px;
        color: vars.$accentColor;
        font-weight: 400;
        & a {
          color: vars.$accentColor;
        }
      }
      input[type="submit"] {
        background-image: url("/img/icons/forward.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: vars.$accentColor;
        cursor: pointer;
        margin-top: 20px;
        align-self: flex-end;
        outline: none;
        border: none;
      }
    }
    .errorField {
      color: vars.$errorColor;
      font-size: 12px;
      padding-left: 20px;
      padding-right: 5px;
      text-align: right;
    }

    .reg-link {
      padding-top: 30px;
      color: vars.$shadowColor;
      font-weight: 400;
      a {
        text-decoration: none;
        color: vars.$accentColor;
        font-weight: 500;
      }
    }
  }
}
