@use "@/style/vars.scss";
.cart-item {
  display: flex;
  gap: 11px;
  margin-bottom: 15px;
  margin-right: -48px;
  transition: transform 0.5s ease;
  .cart-wrapper {
    background-color: vars.$bgColor;
    border-radius: 15px;
    width: 100%;
    padding: 17px;
    display: flex;
    justify-content: space-between;

    .cart-img {
      img {
        max-height: 60px;
      }
    }
    .cart-info {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      .cart-name {
        font-size: 14px;
        color: vars.$mainTextColor;
      }
          .cart-count {
        font-size: 14px;
         font-size: 14px;
        color: vars.$mainTextColor;
      }
    }
    .cart-price {
      font-size: 16px;
    }
  }
  .cart-delete {
    width: 48px;
    background-color: #ffe5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.6s ease, opacity 0.6s ease,
      background-color 0.6s ease;

    &-img {
      width: 24px;
      height: 24px;
      background: url("../img/icons/delete.svg") center / contain no-repeat;
    }

    &:hover {
      background-color: #ffcccc;
    }
  }
}
// .cart-item .deleteBtn {
//   opacity: 0;
//   visibility: hidden;
//   transition: 0.2s;
// }

// .cart-item:hover .deleteBtn {
//   opacity: 1;
//   visibility: visible;
// }
.cart-item:hover {
  transform: translateX(-48px);
}
.cart-item:hover .cart-delete {
  opacity: 1;
  visibility: visible;
}
