.startpage {
  height: 100%;
  background-image: url("../img/start/bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 137px;
  position: absolute;
  .startpage-logo {
    background-image: url("../img/icons/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 375px;
    height: 215px;
  }
}
